#features {
	background: #f0f8ff;
	min-height: 100vh;
}

#features .icon span {
	font-size: 30px;
	background: #0a9be1;
	color: #fff;
	width: 42px;
	height: 42px;
	display: inline-block;
	border-radius: 50px;
	text-align: center;
	line-height: 42px;
}

.features-item-text {
	padding: 0 25px;
}

#features h4 {
	font-weight: 400;
	line-height: 1.2;
	font-size: 25px;
}

#features h6 {
	font-size: 22px;
	font-weight: 500;
	color: #3a4256;
	line-height: 40px;
	margin-bottom: 5px;
	letter-spacing: 0.5px;
}

#features p {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.5px;
	color: #616161;
}

#features ul li {
	list-style: none;
}

#features ul li .text {
	margin-left: 80px;
}

.carousel-fade .carousel-item {
	display: block;
	position: absolute;
	opacity: 0;
	transition: opacity .75s ease-in-out;
}
.carousel-fade .carousel-item.active {
	opacity: 1;
	position: relative;
}

.carousel,
.carousel-inner,
.carousel-item {
	width: 100%;
	height: 100%;
}

.carousel {
	top: 0;
	left: 0;
}

@media (max-width: 600px) {
	#features h4 {
		font-size: 18px;
		padding: 0 20px;
	}

	#features h6 {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 5px;
	}
	#features p {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 25px;
	}
}
