* {
	box-sizing: border-box !important;
}

.sign-up {
	background-image: url(../../images/biography-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
	box-sizing: content-box;
}

.login-page {
	padding-top: 50px;
}

.login-page .form-control {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid lightgray;
	padding-right: 0;
	padding-left: 0;
}
.login-page .form-control:focus {
	box-shadow: none !important;
	border-bottom: 1px solid #1cc7c1;
}

.sign-up form {
	max-width: 400px;
	margin: 0 auto;
}
.sign-up .form-control {
	background: #f5f5f5;
	border: none;
	padding: 25px 15px !important;
}
.error {
	color: red;
}

.sign-up .option label {
	color: red;
	cursor: pointer;
}
